body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.body{
  padding-left: 20px;
  padding-right: 20px;
}


header {
  width: 100%;
  overflow: hidden; /* Ensure no overflow of the image */
}

header img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove bottom space/gap */
}

/* Optional: Add media queries if you want specific adjustments for different screen sizes */
@media (max-width: 768px) {
  header img {
      /* Adjust as needed for smaller screens */
  }
}

@media (max-width: 480px) {
  header img {
      /* Further adjustments for very small screens */
  }
}































.responsive-list {
  padding: 0;
}

.responsive-list li {
  font-size: clamp(1rem, 2vw, 2rem); /* Using clamp for responsive font size */
  margin-bottom: 10px; /* Space between list items */
}

/* Additional media query example */
@media (max-width: 768px) {
  .responsive-list li {
    font-size: 1.25rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .responsive-list li {
    font-size: 1rem; /* Adjust font size for even smaller screens */
  }
}



.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.flex-item {
  flex: 1 1 300px; /* Flexible basis with minimum width */
  margin: 10px;
  box-sizing: border-box;
}

.image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.text {
  flex: 1 1 300px;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .flex-container {
    flex-direction: row;
  }
}


.bottom-sheet {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  text-align: center;
}

h2 {
  margin-top: 0;
}

p {
  margin: 10px 0;
}

a {
  color: #007BFF;
  text-decoration: none;
}

.qr-code img {
  max-width: 150px;
  width: 100%;
  height: auto;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .bottom-sheet {
    padding: 15px;
  }

  .qr-code img {
    max-width: 100px;
  }
}







